* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
}

body {
    color: #222;
    font-size: 14px;
    line-height: 1.5;
}

.slide .item {
    height: 400px;
    background-image: url('../images/img_07.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    width: 1120px;
    margin: 0 auto;
}

.section_01 img {
    width: 100%;
    height: 200px;
    display: block;
}

.section_01 ul {
    display: flex;
}

/* footer  */
.footer {
    padding: 40px 0;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid #ccc;
}